<!DOCTYPE html>
<html>
<head>
  <title>Snapstats</title>
  <%= stylesheet_link_tag    "snapstats/application", media: "all" %>
  <%= javascript_include_tag "snapstats/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="app-container">
  
  <%= render 'main_menu' %>
  <%= yield %>

</div>


</body>
</html>
