

<div class="container animated fadeIn">

	<div class="panel panel-wgt">
		<div class="panel-heading">
			<h3 class="panel-title">Activity</h3>

			<!-- <div class="pull-right chart-corner-btns"> 
				<a class="btn btn-trigger active total-chart">5 min</a> 
				<a class="btn btn-trigger total-chart">10 min</a> 
				<a class="btn btn-trigger total-chart">30 min</a> 
			</div> -->

		</div>
		<div class="panel-body">
			<div class="loader center-block animated rotateIn">loading</div>
			<div class="chart"></div>	
		</div>
	</div>

</div>

<!-- Daily overview -->

<div class="container animated fadeIn">

<!-- 	<div class="page-header">
		<h1>Daily overview</h1>
	</div>
 -->
	<div class="row" style="margin-top: 10px;">

		<!-- Most visited pages today -->

		<div class="col-lg-4">
			<table class="table-round">

				<tr>
					<th>
						Common info
					</th>
					<th></th>
				</tr>

				<tr>
					<td>
						Uniq visits
					</td>
					<td><%= @uniqs %></td>
				</tr>

				<tr>
					<td>
						Clicks per minute
					</td>
					<td><%= @report[:clicks_per_minute] %></td>
				</tr>

				<tr>
					<td>
						Clicks per day
					</td>
					<td><%= @report[:clicks_per_day] %></td>
				</tr>

				<tr>
					<th>
						Most visited pages
					</th>
					<th></th>
				</tr>
				<% @report[:top_pathes].each do |i| %>
					<tr>
						<td><%= i.first %></td>
						<td><%= i.last %></td>
					</tr>
				<% end %>
			</table>
		</div>

		<!-- Browsers today -->

		<div class="col-lg-4">
			<table class="table-round">
				<tr>
					<th>
						Browsers
					</th>
					<th></th>
				</tr>
				<% @report[:browsers].each do |k,v| %>
					<tr>
						<td><%= k %></td>
						<td><%= v %></td>
					</tr>
				<% end %>
			</table>
		</div>

		<!-- Devices today -->

		<div class="col-lg-4">
			<table class="table-round">
				<tr>
					<th>
						Devices
					</th>
					<th></th>
				</tr>
				<% @report[:platforms].each do |k, v| %>
					<tr>
						<td><%= k %></td>
						<td><%= v %></td>
					</tr>
				<% end %>
			</table>
		</div>


	</div>

</div>

