
<div class="container animated fadeIn">

	<div class="panel panel-wgt">
		<div class="panel-heading">
			<h3 class="panel-title"><%= @user_email %></h3>
		</div>
		<div class="panel-body">
			<div class="user-activity-chart"></div>	
		</div>
	</div>

</div>

<div class="container animated fadeIn">

	<div class="page-header">
		<h1>Requests </h1>
	</div>

	<div class="row">
		<div class="col-lg-12">
			<table class="table">

				<tr>
					<th class="col-lg-5"> Path </th>
					<th class="col-lg-3"> Time </th>
					<th>Render Time (ms)</th>
					<th>Platform</th>
					<th>Browser</th>
				</tr>
				
				<% @activity.each do |i| %>
				
					<tr>
						<td> <%= i.path %> </td>
						<td> <%= time_ago_in_words i.date, locale: :en %>  </td>
						<td> <%= i.render_time %>  </td>
						<td> <%= i.os %>  </td>
						<td> <%= i.browser %> <%= i.version %>  </td>
					</tr>

				<% end %>

			</table>
		</div>
	</div>

</div>
