<div class="container">
	<ul class="menu pull-left">
		<li <%= active_cat? :main %>> <%= link_to 'Daily report', root_path %> </li>
		<li <%= active_cat? :user %>> <a href="#"><%= link_to 'Users', user_path %></a></li>
		<li <%= active_cat? :performance %>> <a href="#"><%= link_to 'Performance', performance_path %></li>
		<!-- <li <%= active_cat? :reports %>> <a href="#"><%= link_to 'Reports', performance_path %></li> -->
	</ul>
</div>